<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>newexample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>TestServelet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Budget</display-name>
    <servlet-name>Budget</servlet-name>
    <servlet-class>budget.Budget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Budget</servlet-name>
    <url-pattern>/Budget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemeDecoration</display-name>
    <servlet-name>ThemeDecoration</servlet-name>
    <servlet-class>themed.ThemeDecoration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemeDecoration</servlet-name>
    <url-pattern>/ThemeDecoration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>Signup.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCart</display-name>
    <servlet-name>AddtoCart</servlet-name>
    <servlet-class>addtocart.AddtoCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCart</servlet-name>
    <url-pattern>/AddtoCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailTLS</display-name>
    <servlet-name>SendMailTLS</servlet-name>
    <servlet-class>sendmailtls.SendMailTLS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailTLS</servlet-name>
    <url-pattern>/SendMailTLS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController11</display-name>
    <servlet-name>CartController11</servlet-name>
    <servlet-class>cartcontroller.CartController11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController11</servlet-name>
    <url-pattern>/CartController11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerDec</display-name>
    <servlet-name>ControllerDec</servlet-name>
    <servlet-class>com.dec.controller.ControllerDec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDec</servlet-name>
    <url-pattern>/ControllerDec</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>/primaryDB</res-ref-name>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>ThemeCustom</display-name>
    <servlet-name>ThemeCustom</servlet-name>
    <servlet-class>com.tc.controller.ThemeCustom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemeCustom</servlet-name>
    <url-pattern>/ThemeCustom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServelet</display-name>
    <servlet-name>ImageServelet</servlet-name>
    <servlet-class>images.ImageServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServelet</servlet-name>
    <url-pattern>/ImageServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MusicController</display-name>
    <servlet-name>MusicController</servlet-name>
    <servlet-class>com.musician.controller.MusicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicController</servlet-name>
    <url-pattern>/MusicController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvitationController</display-name>
    <servlet-name>InvitationController</servlet-name>
    <servlet-class>com.invitation.controller.InvitationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvitationController</servlet-name>
    <url-pattern>/InvitationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerPhoto</display-name>
    <servlet-name>ControllerPhoto</servlet-name>
    <servlet-class>com.photography.controller.ControllerPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPhoto</servlet-name>
    <url-pattern>/ControllerPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartHistory</display-name>
    <servlet-name>CartHistory</servlet-name>
    <servlet-class>com.carthistory.CartHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartHistory</servlet-name>
    <url-pattern>/CartHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenueController</display-name>
    <servlet-name>VenueController</servlet-name>
    <servlet-class>com.venue.controller.VenueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenueController</servlet-name>
    <url-pattern>/VenueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClothingController</display-name>
    <servlet-name>ClothingController</servlet-name>
    <servlet-class>com.clothing.controller.ClothingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClothingController</servlet-name>
    <url-pattern>/ClothingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JewelleryController</display-name>
    <servlet-name>JewelleryController</servlet-name>
    <servlet-class>com.jewellery.controller.JewelleryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JewelleryController</servlet-name>
    <url-pattern>/JewelleryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeauticianController</display-name>
    <servlet-name>BeauticianController</servlet-name>
    <servlet-class>com.beautician.controller.BeauticianController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeauticianController</servlet-name>
    <url-pattern>/BeauticianController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatererController</display-name>
    <servlet-name>CatererController</servlet-name>
    <servlet-class>com.caterer.controller.CatererController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatererController</servlet-name>
    <url-pattern>/CatererController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraditionServlet</display-name>
    <servlet-name>TraditionServlet</servlet-name>
    <servlet-class>com.tradition.controller.TraditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraditionServlet</servlet-name>
    <url-pattern>/TraditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastPayment</display-name>
    <servlet-name>LastPayment</servlet-name>
    <servlet-class>com.payment.LastPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastPayment</servlet-name>
    <url-pattern>/LastPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterS</display-name>
    <servlet-name>RegisterS</servlet-name>
    <servlet-class>com.register.RegisterS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterS</servlet-name>
    <url-pattern>/RegisterS</url-pattern>
  </servlet-mapping>
</web-app>